pydantic
python-dotenv
langchain
langchain-openai
langchain-groq
langchain-core 
langchain-community
langchain-huggingface
langchain-pinecone
pypdf
bs4
arxiv
pymupdf
wikipedia
faiss-cpu
langchain-google-genai
youtube_search
langgraph
chromadb
